body {
    background-color: aliceblue;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-text {
    font-size: 20px;
}

main {
    margin-top: 100px;
    padding: 0px 20px;
}

.row > div {
    padding: 10px;
}

.box {
    padding: 10px;
}

.box h4, .box h1 {
    text-align: center;
}

.box h1 {
    margin-bottom: 30px;
}

#appgrid {
    display: flex;
    flex-wrap: wrap;
}

.app {
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-bottom: 30px;
    border: 5px solid;
    text-align: center;
    padding-top: 5px;
    background-position: 50% 50%;
    cursor: pointer;
}

.app p {
    margin-top: -40px;
    font-size: 20px;
}

#lazarus {
    background-image: url('LazarusThumbnail.png');
}

#comingSoon {
    cursor: default;
    background-color: #CCCCCC;
}

/*
main {
    padding: 0px 25px;
}
*/











/*
body {
    font-family: Arial;
    margin: 0;
    background-color: #FFFFFF;
    color: #004466;
}

#header {
    padding-top: 10px;
    padding-left: 15px;
    background-color: #BBDDFF;
    border-bottom: 5px solid #AACCEE;
}

#header h1 {
    font-size: 50px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline;
}

#header h3 {
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
}

#content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

#links {
    width: 200px;
    height: 100px;
    background-color: #BBDDFF;
    border-bottom: 5px solid #AACCEE;
}

#links h4 {
    margin-top: 5px;
    text-align: center;
}

#links a {
    margin-left: 10px;
}

#apps {
    width: 50%;
}

#apps h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 40px;
}

#appgrid {
    display: flex;
    flex-wrap: wrap;
}

.app {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #AACCEE;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    background-position: 50% 50%;
}

.app p {
    margin-top: -30px;
}

.app:hover {
    cursor: pointer;
}

#about {
    width: 200px;
    height: 200px;
    background-color: #BBDDFF;
    border-bottom: 5px solid #AACCEE;
}

#about h4 {
    margin-top: 5px;
    text-align: center;
}

#about p {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.3;
}

#lazarus {
    background-image: url('LazarusThumbnail.png');
}

#comingSoon {
    cursor: default;
    background-color: #CCCCCC;
}
    */