body {
    background-color: aliceblue;
}

.navbar-brand {
    font-size: 40px;
}

.navbar-text {
    font-size: 20px;
}

main {
    margin-top: 150px;
}

#gameArea {
    width: 60%;
    height: 600px;
    margin: auto;
    text-align: center;
}

#gameArea h3 {
    margin-top: 100px;
}

@media (max-width: 800px) {
    #gameArea {
        width: 90%;
    }
}

#difSlider {
    width: 50%;
}

#difDisplay {
    color: #0d6efd;
}

input[type=checkbox] {
    margin-left: 20px;
}

#start {
    margin-top: 70px;
    font-size: 25px;
    width: 100px;
}

#questionDisplay {
    padding-top: 100px;
}